CSharp-Utils/Service References/StatusLoggerServiceReference/CSharpUtils.Utils.StatusLogger.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CSharpUtils.Utils.StatusLogger" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CSharpUtils.Utils.StatusLogger" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatusChangeEventArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewValue" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="NewValueString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldValue" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="OldValueString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusChangeEventArgs" nillable="true" type="tns:StatusChangeEventArgs" />
</xs:schema>